<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSpot</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{%url 'index'%}">BlogSpot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{%url 'index' %}">Home <span class="sr-only"></span></a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link" href="#">My Blogs</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href=" {%url 'newblog' %}">Create Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout'%}">logout</a>
              </li>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              {%else%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login'%}">Login</a>
              </li>

            {% endif %}
          </ul>
          
        </div>
      </nav>
      <div class="container mt-4">
        <div class="row">
            {% for blog in blogs %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if blog.blog_img %}
                        <img src="{{ blog.blog_img.url }}" class="card-img-top" alt="{{ blog.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="card-text">{{ blog.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>