<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user|title }} Blog</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Helvetica Neue', Arial, sans-serif;
        }
        .containerr {
            background: #ffffff;
            border-radius: 10px;
            padding: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin:  auto;
            text-align: center;
        }
        h3 {
            color: #495057;
            margin-bottom: 20px;
        }
        h4 {
            color: #6c757d;
            margin-bottom: 30px;
        }
        .highlight {
            color: #6c757d;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
         <a class="navbar-brand" href="{% url 'index' %}">BlogSpot</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                     <a class="nav-link" href="{% url 'index' %}">Home</a>
                 </li>
                 {% if user.is_authenticated %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'myblog' %}">My Blogs</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'privateblog' %}">private Blog</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'newblog' %}">Create Blog</a>
                 </li>
 <!--                 
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                 </li> -->
             </div>
                 <form method="POST" action="{% url 'individual' %}" class="form-inline d-flex my-2 my-lg-0">
                     {% csrf_token %}
                     <input class="form-control mr-sm-2" type="search" name="search_item" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success my-2 my-sm-0" style="display: inline-block; margin-top: 8px;"  type="submit">Search</button>
                 </form>
                 <li class="nav-item navbar-nav mr-auto">
                     <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                 </li>
                 {% else %}
                 <li class="nav-item navbar-nav mr-auto">
                     <a class="nav-link" href="{% url 'login' %}">Login</a>
                 </li>
                 {% endif %}
             </ul>
         </div>
     </nav>
     <div class="containerr">
        <h3>{{ user|title }}'s,<span class="highlight">Private Blog</span></h3>
        <!-- <h4>Fill the required fields to create a blog</h4> -->
      </div>
    <div class="container mt-4">
        <div class="row">
            <div class="container">
                {% if not blogs %}
                <h5>{{user}} create private blogs to view here</h5>
             </div>
             {%else%}
            <div class="row">
             {% for blog in blogs %}
            <div class="col-md-4 mb-4 ">
                <div class="card">
                    {% if blog.blog_img %}
                    <img src="{{ blog.blog_img.url }}" class="card-img-top" alt="{{ blog.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.description|truncatewords:15 }}</p>
                        <a href="{% url 'details' blog.pk %}" class="btn btn-primary">Read More</a>
                        {% if blog.user == user %}
                        <a href="{% url 'edit' blog.pk %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete' blog.pk %}" class="btn btn-warning bg-danger">Delete</a>

                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {%endif%}
        </div>
        <div class="pagination d-flex justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-primary">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</body>
</html>
